<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="firstname">+
        <input type="text" v-model="lastname">=
        <!-- 计算属性直接当做属性使用 -->
        <input type="text" v-model="fullname">
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                firstname: "",
                lastname: ""
            },
            methods: {
                change(){
                    this.fullname = this.firstname + "-" + this.lastname;
                }
            },
            computed: {
                // 计算属性,本质是一个方法(不能当做方法调用),可以当data中的属性使用,只不过值是计算出来的
                // 其中所依赖的任何数据发生变化,都会触发计算属性重新计算求值
                // 依赖的数据没发生变化,计算属性会缓存
                fullname: function(){
                    return this.firstname + "-" + this.lastname;
                }
            },
        });
    </script>
</body>

</html>